body {
  font-family: 'Amatic SC', cursive;
  font-family: 'Tillana', cursive;
  height: 100vh;
  width: 100vw;
  background-image: url('../images/neon-background.jpg');
  background-size: cover;
}

h1 {
  font-family: 'Mr Dafoe', cursive;
  font-size: 80px;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
  color: #FFB5EE;
  /*-webkit-text-stroke: 2px black;*/
  background-color: black;
}

.game-canvas {
  border: 1px solid;
  margin: auto;
  display: block;
  background-color: #ffffff;
}

#narwhal {
  height: 45px;
}

#seal {
  height: 20px;
}
