@font-face {
    font-family:'PressStart2P';
    src:  local('images/PressStart2P-Regular.ttf'),
          url('https://fonts.googleapis.com/css?family=Press+Start+2P');
}

body {
  font-family: 'Amatic SC', cursive;
  font-family: 'Tillana', cursive;
  height: 100vh;
  width: 100vw;
  background-image: url('../images/neon-background.jpg');
  background-size: cover;
}

h1 {
  font-family: 'Mr Dafoe', cursive;
  font-size: 80px;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
  color: #FFB5EE;
  background-color: black;
}

h5 {
  color: #FFB5EE;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.game-canvas {
  font-family: 'Press Start 2P', cursive;
  margin: auto;
  display: block;
  background-color: #ffffff;
}

img {
  margin-left: -999px;
  height: 20px;
}
